<div class="flex items-center justify-center">
  <form class="w-3/4" #frm="ngForm">
    <p-card>
      <ng-template #title> Criar novo ticket </ng-template>
      <div class="h-[1px] bg-gray-200 w-full my-3"></div>
      <div class="grid md:grid-cols-3 gap-3">
        <p-floatlabel variant="on"> 
            <p-select class="w-full" [options]="clients" optionLabel="name" id="on_client">
            </p-select>
            <label for="on_client">Cliente</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-select
            class="w-full"
            [options]="teams"
            name="team"
            optionLabel="name"
            (onChange)="setUsersByClient()"
            [(ngModel)]="newTicket.selectedTeam"
            id="on_equipe"
          />
          <label for="on_equipe">Equipe</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-select [options]="users" class="w-full" optionLabel="name" id="on_due_user" />
          <label for="on_due_user">Usuário responsável</label>
        </p-floatlabel>
      </div>

      <div class="h-[1px] bg-gray-200 w-full my-3"></div>

      <ng-template #footer>
        <div class="flex justify-end gap-4 items-center">
          <p-button
            severity="info"
            [raised]="true"
            size="small"
            label="Criar ticket"
          />
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
